.container {
  padding: 40px 20px;
}

.card {
  background: #111827;
  border: 1px solid #1f2937;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  border-color: #38bdf8;
}

.titulo {
  font-size: 24px;
  margin-bottom: 10px;
}

.tecnologias {
  font-size: 14px;
  color: #94a3b8;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}
