.container {
  padding: 40px 20px;
  text-align: center;
}

.perfil {
  margin-bottom: 16px;
}

.foto {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  margin: 12px auto;
  display: block;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.2);
  transition: 0.3s;
}

.foto:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}

.nome {
  margin-top: 8px;
  font-size: 22px;
}

.cargo {
  color: #38bdf8;
  font-size: 14px;
  margin-bottom: 10px;
}

.texto {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
  color: #e2e8f0;
}
